<div>

    <form action="/photo/" method="post">
        <label name="title">Photo Share</label>
        <input name="title" type="input" />

        <label name='url'>Url</label>
        <input name='url' type="input"/>
        <input label='submit' type="Submit"/>
        
    </form>
</div>