<div>

    <form action="/photo/" method="post">
        <label name="title">Photo Share</label>
        <input name="title" type="input" />

        <label name='description'>Url</label>
        <input name='description' type="input" />
        <input label='submit' type="submit" />
    </form>
</div>