<div>

    <form action="/photo/" method="post">
        <label name="title">Photo Share</label>
        <input name="title" type="input" />

        <label name='url'>Url</label>
        <input name='url' type="input"/>
        <input label='submit' type="Submit"/>
        
    </form>
</div>
{{!-- 
<section class="form-container">
    <h4>New Photo</h4>
    <form action="/photo" method="post" class="photo-form">
        <div class="input-field">
            <textarea name="photo[content]" cols="30" rows="10" placeholder="Message"></textarea>
        </div>
        <div class="">
            <select name="author" id="author">
                <option value="" disabled selected>Choose the User</option>
                {{#each users}}
                <input value="{{this.url}}"></input>
                {{/each}}
            </select>
        </div>
        <div class="input-field">
            <input type="submit" value="Photo" class="btn">
        </div>
    </form>
</section> --}} --}}